.about-content {
    position: relative;
    top: 20%;
    left: 10%;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.about-content .title h1 {
    width: min-content;
    margin-bottom: 5px;
    border-bottom: 1px solid #09244B;
}

.about-content .title .email {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: lighter;
    letter-spacing: 1.5px;
}

.about-content .about-description {

    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: 1px;
    line-height: 2;
}

.about-content .born-location {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content .born-location .location-box {
    display: flex;
}

.about-content .born-location .location {

}

.about-content .born-location .date {
    
}

.photo {
    position: absolute;
    right: 0;
}

.trace {
    width: 25px;
    height: 10px;
    margin: 8px 5px 0px 5px;
    border-top: 1px solid #09244B;
}

/*Configuracoes para*/
@media only screen and (max-width: 768px) {
    .about-content {
        width: 90vw;
        top: 10%;
        left: 5vw;
        right: 5vw;
    }

    .about-content .about-description {
        display: flex;
        width: 90vw;
        left: 0;
        text-align: justify;
    }

    .about-content .born-location {
        width: 90vw;
    }
}

