html {
    width: 100%;
}

.vertical-line {
    border-left: 1px solid #fff;
}

.horizontal-line {
    border-top: 1px solid #fff;
}

.container-fluid {

    /*background-image: url("https://cdn.pixabay.com/photo/2015/10/01/21/57/wallpaper-967836_1280.png");*/
    color: white;
}

.header {
    /* background-image: url("../img/background.jpg"); */
    background-color: #252d33;
    color: #c1c5c7;
    margin-bottom: 20px;
}

.header img {
    width: 150px;
    padding: 0px 0px 0px 0px;
}

.info {
    display: grid;
}

.info img {
    width: 16px;
    margin-right: 5px;
}

.info label {
    padding: 5px 10px 5px 0px;
}

.left-col {
    color: #252d33;
}

.card {
    border: none;
}

.item-personal-information {
    margin-bottom: 15px;
}

.item-personal-information .key {
    color: #757e83;
}

.item-personal-information .value {
    color: #252d33;
    font-weight: bold;
}

.item-personal-information .value a {
    outline: none;
    /* text-decoration: none; */
    color: #252d33;
}