body .navbar {
    padding-bottom: 0;
    padding-top: 0;
}

#logo-navbar {
    width: 30px;
    margin-right: 10px;
}
.link-to-back {
    outline: none;
    text-decoration: none;
    font-weight: bold;
    color: rgb(128, 128, 128);
}
.link-to-back:hover{
    outline: none;
    color: rgb(201, 201, 201);

}

.nav-item {
    margin-left: 20px;
}

.nav-link img {
    width: 18px;
    margin-bottom: 5px;
}

.nav-link {
    
    font-size: 18px;
    color: red;
}

.nav-link:hover {
    outline: none;
    text-decoration: none;
    color: blue;
}

#navbarSupportedContent ul{
    width: 100%;
    justify-content: flex-end;
    margin-right: 20px;
}

#ul-dropdown {
    position: absolute;
    top: unset;
    right: 0;
    margin: 10px 0px 0px 0px !important;
    padding: 10px 5px !important;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
}