/*Navbar*/
#logo-navbar {
    width: 30px;
    margin-right: 10px;
}
.link-to-back {
    outline: none;
    color: gray;
    text-decoration: none;
}
.link-to-back:hover{
    outline: none;
    color: rgb(201, 201, 201);

}
.nav-link img {
    width: 18px;
    margin-bottom: 5px;
}
.nav-item {
    margin-left: 20px;
}
#navbarSupportedContent ul{
    width: 100%;
    justify-content: flex-end;
    margin-right: 20px;
}
#ul-dropdown {
    position: absolute;
    top: unset;
    right: 0;
    margin: 10px 0px 0px 0px !important;
    padding: 10px 5px !important;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    width: fit-content !important;
}
.item-button-mail {
    margin-right: 30px;
}
input[type=submit] {
    float: left;
    margin-top: 10px;
}
.input-form {
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 10px;
}
form label {
    color: white;
}